# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv

# Environment Variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# Logs
logs/
*.log
*.log.*

# Docker
docker-compose.override.yml

# Database
*.db
*.sqlite
*.sqlite3

# Testing
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# Celery
celerybeat-schedule
celerybeat.pid

# Redis
dump.rdb

# Jupyter
.ipynb_checkpoints/

# Obsolete files and directories
*_OBSELETE*
*_OBSELETE/
*_DELETE*
*_DELETE/
